@{
    ViewData["Title"] = "Home Page";
}


@section Scripts {
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script type="text/javascript">
        $(document).ready(() => {
            $("#loading").hide();
            var connection = new signalR
                .HubConnectionBuilder()
                .configureLogging(signalR.LogLevel.Debug)
                .withAutomaticReconnect()
                //.withUrl("http://localhost:5275/MyHub").build();
                .withUrl("https://localhost:7034/MyHub").build();
            
            function statusShow() {
                $("#conStatus").text(connection._connectionState);
            }

            statusShow();

            function Start() {
                $("#loading").show();
                connection
                    .start()
                    .then(() => {                    
                        $("#loading").hide();
                        statusShow();
                    }).catch((err) => {
                        console.log(err);
                        setTimeout(() => Start(), 2000);
                    });
            }

            Start();
            statusShow();

            //Subscribes
            connection.onreconnecting(err => {
                $("#loading").show();
                statusShow();
                console.log("onreconnection: " + err);
            });

            connection.onreconnected((connectionId) => {
                $("#loading").hide();
                statusShow();
                console.log("connectionId: " + connectionId);
               
            });

            connection.onclose(() => {
                $("#loading").hide();
                statusShow();
                Start();
            });

            connection.on("ReceiveClientCount", (clientCount)=>{
                $("#clientCount").text(clientCount);
            })

            connection.on("Notify", (countText)=>{
                $("#notify").html(`<div class="alert alert-success">${countText}</div>`)
            });

            $("#btnNameSave").click(() => { 
                connection.invoke("SendName", $("#txtName").val()).catch((err) => {
                    console.log(err)
                });
            });

            connection.on("ReceiveName", (name) => {                
                $("#namesList").append(`<li class="list-group-item"> ${name} </li>`);
            })
        
        });

    </script>
}
<div class="row">
    <div class="col-md-8.offset-2">
        <input class="form-control" type="text" id="txtName" />
        <hr/>
        <button class="btn btn-primary" id="btnNameSave">İsim Kaydet</button>
        <div class="alert alert-info">
            <div class="float-start">
                Bağlantı durumu : <strong id="conStatus"></strong>
                , Client sayısı : <strong id="clientCount"></strong>
             
            </div>
            <div class="float-end">
                <div id="loading" class="spinner-border spinner-border-sm" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    
        <div id="notify"></div>
    </div>
    <div class="col-md-8 offset-2">
        <ul id="namesList" class="list-group">

        </ul>        
    </div>
</div>
